<form [formGroup]="formClienteEndereco">
  <div>
    <label for="cep">
      cep
    </label>
    <input
      id="cep"
      (blur)="consultaCEP($event.target.value)"
      type="text"
      formControlName="cep"
      class="form-control"
    />
    <div
      *ngIf="
        formClienteEndereco.get('cep').invalid &&
        (formClienteEndereco.get('cep').dirty ||
          formClienteEndereco.get('cep').touched)
      "
      class="alert alert-danger m-2"
    >
      cep é obrigatorio
    </div>
  </div>
  <div>
    <label for="logradouro">
      logradouro
    </label>
    <input
      id="logradouro"
      type="text"
      formControlName="logradouro"
      class="form-control"
    />
    <div
      *ngIf="
        formClienteEndereco.get('logradouro').invalid &&
        (formClienteEndereco.get('logradouro').dirty ||
          formClienteEndereco.get('logradouro').touched)
      "
      class="alert alert-danger m-2"
    >
      logradouro é obrigatorio
    </div>
  </div>
  <div>
    <label for="numero">
      numero
    </label>
    <input
      id="numero"
      type="text"
      formControlName="numero"
      class="form-control"
    />
    <div
      *ngIf="
        formClienteEndereco.get('numero').invalid &&
        (formClienteEndereco.get('numero').dirty ||
          formClienteEndereco.get('numero').touched)
      "
      class="alert alert-danger m-2"
    >
      numero é obrigatorio
    </div>
  </div>
  <div>
    <label for="complemento">
      complemento
    </label>
    <input
      id="complemento"
      type="text"
      formControlName="complemento"
      class="form-control"
    />
    <div
      *ngIf="
        formClienteEndereco.get('complemento').invalid &&
        (formClienteEndereco.get('complemento').dirty ||
          formClienteEndereco.get('complemento').touched)
      "
      class="alert alert-danger m-2"
    >
      complemento é obrigatorio
    </div>
  </div>
  <div>
    <label for="bairro">
      bairro
    </label>
    <input
      id="bairro"
      type="text"
      formControlName="bairro"
      class="form-control"
    />
    <div
      *ngIf="
        formClienteEndereco.get('bairro').invalid &&
        (formClienteEndereco.get('bairro').dirty ||
          formClienteEndereco.get('bairro').touched)
      "
      class="alert alert-danger m-2"
    >
      bairro é obrigatorio
    </div>
  </div>
  <div>
    <label for="cidade">
      cidade
    </label>
    <input
      id="cidade"
      type="text"
      formControlName="cidade"
      class="form-control"
    />
    <div
      *ngIf="
        formClienteEndereco.get('cidade').invalid &&
        (formClienteEndereco.get('cidade').dirty ||
          formClienteEndereco.get('cidade').touched)
      "
      class="alert alert-danger m-2"
    >
      cidade é obrigatorio
    </div>
  </div>
  <div>
    <label for="estado">
      estado
    </label>
    <input
      id="estado"
      type="text"
      formControlName="estado"
      class="form-control"
    />
    <div
      *ngIf="
        formClienteEndereco.get('estado').invalid &&
        (formClienteEndereco.get('estado').dirty ||
          formClienteEndereco.get('estado').touched)
      "
      class="alert alert-danger m-2"
    >
      estado é obrigatorio
    </div>
  </div>
</form>
