<div class="container p-5">
  <h1>Clientes</h1>

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>
        <a
          [routerLink]="['/clientes/cadastrar']"
          class="btn btn-xs btn-success"
        >
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
          Cliente
        </a>
      </th>
    </tr>
    <tr *ngFor="let cliente of clientes">
      <td>
        Nome: {{ cliente.nome }} CPF: {{ cliente.cpf }}
        <button
          title="Remover"
          alt="Remover"
          class="btn btn-xs btn-danger m-2"
          (click)="remover(cliente.id, $event)"
        >
          Remover
        </button>
        <button
          title="Visualizar"
          alt="Visualizar"
          class="btn btn-xs btn-info m-2"
          [routerLink]="['/clientes/visualizar/', cliente.id]"
        >
          Visualizar
        </button>
      </td>
    </tr>
  </table>

  <p *ngIf="clientes.length == 0">Nenhum cliente cadastrado.</p>
</div>
