<div class="container p-5 m-auto well">
  <h1>Cadastrar cliente</h1>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <form [formGroup]="formCliente">
        <div>
          <div>
            <label for="nome">
              Name
            </label>
            <input
              id="nome"
              type="text"
              formControlName="nome"
              class="form-control"
            />
            <div
              *ngIf="
                formCliente.get('nome').invalid &&
                (formCliente.get('nome').dirty ||
                  formCliente.get('nome').touched)
              "
              class="alert alert-danger m-2"
            >
              O Nome é Obrigatório
            </div>
          </div>

          <div>
            <label for="cpf">
              cpf
            </label>
            <input
              id="cpf"
              type="text"
              formControlName="cpf"
              class="form-control"
              CPFMask
            />
            <div
              *ngIf="
                formCliente.get('cpf').invalid &&
                (formCliente.get('cpf').dirty || formCliente.get('cpf').touched)
              "
              class="alert alert-danger m-2"
            >
              cpf é obrigatorio
            </div>
          </div>
          <div>
            <label for="email">
              E-mail
            </label>
            <input
              id="email"
              type="text"
              formControlName="email"
              class="form-control"
            />
            <div
              *ngIf="
                formCliente.get('email').invalid &&
                (formCliente.get('email').dirty ||
                  formCliente.get('email').touched)
              "
              class="alert alert-danger m-1 "
            >
              E-mail é obrigatorio
            </div>
          </div>
          <app-endereco [endereco]="formClienteEndereco"></app-endereco>
        </div>

        <div class="modal-footer">
          <button
            (click)="cancelar()"
            class="btn btn-success gradient-btn"
            type="button"
          >
            Cancelar
          </button>
          <button
            (click)="cadastrar()"
            class="btn btn-info gradient-btn"
            type="button"
            [disabled]="formCliente.invalid"
          >
            Cadastrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
