<div class="container p-5" *ngIf="!cliente; else notCliente">
  <table class="table   p-3">
    <h1>Cliente Detalhes :</h1>
    <tr>
      <td>Nome :</td>
      <td>{{ cliente.nome | uppercase }}</td>
    </tr>
    <tr>
      <td>Cpf :</td>
      <td>{{ cliente.cpf | uppercase }}</td>
    </tr>
    <tr>
      <td>Email :</td>
      <td>{{ cliente.email | uppercase }}</td>
    </tr>
  </table>

  <hr class="w-100" />
  <table class="table jumbotron container p-3" *ngIf="cliente.Cep">
    <h1 class="p-1">Cliente Endereco :</h1>
    <tr>
      <td>Cep :</td>
      <td>{{ cliente.Cep.cep | uppercase }}</td>
    </tr>
    <tr>
      <td>logradouro :</td>
      <td>{{ cliente.Cep.logradouro }}</td>
    </tr>
    <tr>
      <td>numero :</td>
      <td>{{ cliente.Cep.numero }}</td>
    </tr>
    <tr>
      <td>complemento :</td>
      <td>{{ cliente.Cep.complemento }}</td>
    </tr>
    <tr>
      <td>cidade :</td>
      <td>{{ cliente.Cep.cidade }}</td>
    </tr>
    <tr>
      <td>bairro :</td>
      <td>{{ cliente.Cep.bairro }}</td>
    </tr>
    <tr>
      <td>estado :</td>
      <td>{{ cliente.Cep.estado }}</td>
    </tr>
  </table>

  <button
    title="Visualizar"
    alt="Visualizar"
    class="btn btn-xs btn-info m-2"
    [routerLink]="['/clientes/listar/']"
  >
    Voltar
  </button>
</div>
<ng-template #notCliente
  ><h1>Nenhum cliente encontrado.</h1>

  <button
    title="Visualizar"
    alt="Visualizar"
    class="btn btn-xs btn-info m-2"
    [routerLink]="['/clientes/listar/']"
  >
    Voltar
  </button></ng-template
>
